.card_layout{margin:-6px 0 11px;
    &.type2{
        margin-top:0;
    }
}
.card_row{display:flex;margin:0 -6px;
    // &.type2{min-height:calc(100vh - 97px)}
}
.box_render{border-radius: 10px;background:#fff;border:1px solid #d6e2e8;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);}
.box_pop_render{border-radius: 10px;background:#fff;border:1px solid #d6e2e8;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);padding:30px 35px;}
.box_winpop_render{border-radius: 10px;background:#fff;border:1px solid #d6e2e8;box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);padding:30px 35px;box-sizing: border-box;}
.card_long{
    margin: 6px;
    flex:1;
    &.box_render{
        > .box_content_row{padding:0 25px 30px;}
    }
    &.flex_type{display:flex;}
    > .box_item{margin:18px 24px 24px;
        &.type2{margin:24px;}
    }
}
.card_title_cols{flex:0 0 180px;background:#2f82e2 url("../images/bg_left_cols_obj.png") no-repeat 100% 100%;border-radius:10px;margin:-1px 0 -1px -1px;text-align: center;display:flex;align-items: center;flex-direction: column; justify-content: center; padding:25px; box-sizing: border-box;
    &.dtype2{background-image:url("../images/bg_left_cols_obj_2.png");background-position:0 0;text-align: left;align-items: flex-start;justify-content: space-between;padding-bottom:12px;}
    &.widtype2{flex-basis:292px;}
    &.widtype3{flex-basis:340px;}
}
.card_main_title{font-size: 24px;color:#fff;line-height:1;font-weight:700;letter-spacing: -.5px;}
.card_main_icon{background:rgba(255,255,255,.1) url("../images/icon_tall.png") no-repeat 50% 50%;width:106px;height:106px;border-radius:100%;margin:25px auto 0;}
.card_data_cols{flex:1;min-width:0;display:flex;}
.data_tail_spec_wrap{
    padding:28px 0 0;box-sizing: border-box;width:100%;position:relative;overflow:overlay;height:195px;
    display:flex;
    &.type2{
        padding:28px 30px 0;
    }
    &.flex_type2{
        .data_tail_spec{flex:1;min-width:0;}
        .tail_cont{white-space: normal;}
    }
    &.htype2{height:175px;}
}
.data_tail_spec{
    min-width:0;padding:0 30px;
    &:after{display:block;content:'';height:28px;}
    &:last-of-type{}
}
.tail_vitem{
    margin-bottom:28px;
    &:last-of-type{margin-bottom:0;}
}
.tail_label_row{
}
.tail_label{font-size:14px;color:#6d6c6c;line-height:1;display:block;}
.tail_cont_row{margin-top:10px;}
.tail_cont{
    font-size:17px;font-weight:500;color:#2d2d2d;line-height:1.3;
    &.emp{font-weight:700;font-size:22px;line-height:1;}
    &.emp2{font-size:23px;line-height:1;}
    &.emp3{font-weight:700;font-size:20px;line-height:1;}
    &.emp4{font-weight:700;font-size:16px;}
    
}
.cont_keyvalue_item{
    display:flex;align-items:center;
    &:last-of-type{}
}
.cont_key{color:#6d6c6c;font-size:14px;flex:0;white-space: nowrap;display:inline-block;white-space:nowrap;}
.cont_value{color:#2d2d2d;font-size:17px;margin-left:5px;font-weight:500;
    &.emp{font-weight:700;}
}

.indent_para_list{
    line-height:1.3;
    > li{
        display:flex;color:#2d2d2d;font-size:17px;font-weight:500;margin-bottom:5px;
        &:last-of-type{margin-bottom:0;}
    }
}
.indent_bullet{display:inline-block;flex:0;white-space: nowrap;margin-right:5px;}
.indent_para_cols{}
.indent_para{word-break: break-all;}


.card_chart_render_cols{flex:1;min-width:0;padding:30px 35px;display:flex;align-items: center;}

.tail_menu_list{padding:5px 10px;
    > li{
        border-bottom:1px solid #eaeaea;
        &:last-of-type{border-bottom:0;}
    }
}
.tail_menu{
    display:flex;align-items:center;position:relative;padding:12px 15px;
    &:before,
    &:after{}
    &:before{display:block;content:'';width:21px;height:21px;background:url("../images/ico_quick_menu.png") no-repeat 0 0;flex: 0 0 21px;margin-right:14px;}
    &:after{display:block;content:'';width:8px;height:8px;border-right:1px solid #999999;border-top:1px solid #999999;position:absolute;top:17px;right:4px;transform: rotate(45deg);}
    &.ico_01{
        &:before{background-position:0 0;}
    }
    &.ico_02{
        &:before{background-position:0 33.33%;}
    }
    &.ico_03{
        &:before{background-position:0 66.66%;}
    }
    &.ico_04{
        &:before{background-position:0 100%;}
    }
}
.tail_menu_text{flex:1;min-width:0;display:block;font-size:15px;font-weight:500;color:#333333;line-height:1;}

.box_title_row{padding:30px 25px 25px;font-size:0;line-height:0;}
.box_title{
    vertical-align: top;
    &.ico_01:before{background-image:url("../images/ico_title_01.png");width:30px;height:28px;}
    &.ico_02:before{background-image:url("../images/ico_title_02.png");width:26px;height:27px;}
    &.ico_03:before{background-image:url("../images/ico_title_03.png");width:25px;height:27px;}
    &.ico_04:before{background-image:url("../images/ico_title_04.png");width:27px;height:27px;}
    &.ico_05:before{background-image:url("../images/ico_title_05.png");width:24px;height:27px;}
}
.box_title[class*="ico_"]{
    display:inline-flex;align-items:center;
    &:before{display:inline-block;content:'';margin-right:8px;background-repeat:no-repeat;background-position: 0 0;}
    .box_title_text{position:relative;top:-2px;}
}
.box_title_text{display:inline-block;line-height:1;color:#000;font-size:24px;letter-spacing: -.5px;font-weight:700;}
.box_title_text_sub{display:inline-block;font-size:14px;color:#333333;font-weight:400;line-height:1;margin-left:3px;}


.flex_data_item{display:flex;padding:18px 24px 24px;}
.flex_data_long{min-width:0;flex:1;}
.box_item{}
.box_item .box_title_row{padding:0 0 15px;}
.box_item .box_content_row{padding:0;
    // &.type2{padding-top:5px;}
}
.flex_data_short{flex:0 0 350px;margin-left:40px;display:flex;align-items: flex-end;}


.chart_value_render{position:relative;width:100%;}
.bg_grid_zone{display:flex;position:absolute;bottom:0;left:0;width:100%;height:100%;box-sizing: border-box;padding-bottom:23px;}
.bg_grid_unit_wrap{flex:0 0 20px;display:flex;flex-direction: column;text-align: left;justify-content:space-between;}
.grid_unit{display:flex;height:1px;align-items: center;}
.bg_grid_unit_line_wrap{flex:1;position:relative;display:flex;flex-direction: column;justify-content: space-between;min-height:0;min-width:0;}
.bg_grid_unit_line{width:100%;height:1px;background:#ececec;}
.bg_grid_unit_line{position:relative;top:1.5px;}
.bg_grid_unit_line:first-of-type,
.bg_grid_unit_line:last-of-type{top:0}
.bg_grid_unit_line_wrap:before{display:block;content:'';width:100%;height:100%;opacity:.5;position:absolute;top:0;left:0;}
.chart_value_zone{display:flex;justify-content: center;text-align: center;position:relative;z-index:2;width:100%;height:100%;box-sizing: border-box;padding-left:20px;}
.value_loop_item{flex:1;display:flex;flex-direction:column-reverse;}
.value_loop_label{flex:0 0 21px;line-height:1;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;box-sizing: border-box;padding-top:7px;}
.value_loop_grape_group{flex:1;min-height:0;padding:0 20px;display:flex;align-items: flex-start;flex-direction:column;justify-content:flex-end;}
.grape_cols{border-bottom:2px solid #fff;box-sizing: border-box;width:100%;flex:0 0 16.66666666666667%;}
// .grape_cols:last-of-type{border-bottom:0;}
.grape_label{display:inline-block;color:#fff;font-size:12px;line-height:1;
    &.type2{color:#000;}
}

.chart_render{
    position:relative;width:100%;
    > img{width:100%;vertical-align: top;}
}
.chart_dev_guide{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.3);display:flex;align-items: center;justify-content: center;color:#fff;font-weight:700;font-size:20px;}
.card_chart_guide_cols{flex:0 0 265px;box-sizing: border-box;display:flex;align-items: center;}
.chart_guide_list{
    > li{
        display:flex;align-items: center;margin-bottom:12px;
        &:last-of-type{margin-bottom:0;}
    }
}
.chart_guide_label{
    display:inline-block;position:relative;padding-left:8px;font-size:14px;color:#4e4e4e;margin-right:10px;
    &:before{display:block;content:'';width:2px;height:2px;background:#5f5f5f;position:absolute;top:10px;left:0;}
}
.chart_bar_wrap{width:110px;position:relative;height:14px;}
.chart_bar_current{position:absolute;top:0;left:0;height:100%;display:block;}
.bar_value_group{display:inline-flex;align-items: center;position:absolute;top:-1.5px;left:calc(100% + 10px);height:100%;}
.bar_value{font-size:14px;color:#333333;line-height:1;display:inline-block;}
.bar_unit{font-size:13px;color:#333333;line-height:1;display:inline-block;margin-left:2px;}

.card_short{
    flex: 0 0 580px;box-sizing:border-box;margin: 6px;
    &.type2{flex-basis: 230px;}
    &.has_vitem{
        display:flex;flex-direction: column;
    }
    &.box_render{}
}

.card_title_row{padding:20px 0 15px 0;margin:0 24px;border-bottom:1px solid #e7e7e7;}
.card_title{font-size:22px;color:#000000;line-height:1;font-weight:700;letter-spacing: -0.5px;}
.card_content_row{margin:20px 24px 24px;}

.page_title_wrap{display:block;padding:0 80px 0 0;position:relative;box-sizing: border-box;width:100%;
    &:after{position:absolute;top:-15px;right:-15px;display:block;content:'';width:74px;height:74px;border-radius:100%;background: rgba(255,255,255,.1) url("../images/icon_tall2.png") no-repeat 50% 50%;}
    &.ico_type2{
        &:after{background-image:url("../images/icon_tall2_2.png")}
    }
    &.ico_type3{
        &:after{background-image:url("../images/icon_tall2_3.png")}
    }
    &.ico_type4{
        &:after{background-image:url("../images/icon_tall2_4.png")}
    }
    &.ico_type5{
        &:after{background-image:url("../images/icon_tall2_5.png")}
    }
}
.page_title_sub{font-size:14px;color:#fff;margin-bottom:10px;font-weight:300;line-height:1;}
.page_title{font-size:34px;color:#fff;font-weight:700;letter-spacing: -1px;line-height:1;}
.page_title_else{font-size:14px;color:#fff;font-weight:300;line-height:1.3;margin-top:30px;}


.getdata_zone{
    display:flex;
    .ico_data{width:56px;height:56px;border:1px solid #e6e6e6;border-radius:100%;flex:0 0 56px;border-radius:100%;background:url("../images/icon_sub_box_01.png") no-repeat 0 0;}
}
.getdata_list{
    display:flex;flex-wrap:wrap;margin:-10px 0;min-height:95px;width:100%;
    > li{
        flex: 0 0 50%;
        &.nodata_li{flex:1;display:flex;justify-content: center;align-items: center;height:100%;width:100%;}
        &:last-of-type{}
    }
}
.getdata_item{display:block;padding:10px 0 10px 34px;
    &.ico_new{
        .getdata_tail_main{
            &:after{display:block;content:'';width:14px;height:14px;flex:0 0 14px;background:url("../images/icon_new.png") no-repeat 50% 50%;border:1px solid #e54242;border-radius:100%;}
        }
    }
}
.getdata_short{flex:0;}
.getdata_label{
    display:inline-block;color:#4c76ff;font-size:10px;line-height:1;border:1px solid #4c76ff;padding:3px 7px;border-radius:100px; white-space: nowrap;margin-right:5px;
}
.getdata_long{flex:1;min-width:0;position:relative;top:-2px;}
.getdata_tail{
    &.emp{font-size:14px;color:#1b1b1b;}
    &:last-of-type{}
}
.getdata_tail{font-size:13px;color:#6d6c6c;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.getdata_tail_main{font-size:14px;color:#1b1b1b;display:flex;align-items: center;}
.getdata_tail_text{font-size:15px;color:#1b1b1b;display:inline-block;margin-right:5px;}

.table_title_row{padding:24px 24px 20px;display:flex;align-items: center;justify-content: space-between;}
.table_title_cols{
    &:last-of-type{}
}
.table_title{
    display:flex;line-height:1;
    &.ico_data{
        &:before{display:block;content:'';width:26px;height:25px;background:url("../images/icon_title_bullet.png") no-repeat 0 0;flex:0 0 26px;margin-right:10px;}
    }
}
.table_title_text{font-size:24px;color:#000000;line-height:1;font-weight:700;display:inline-block;letter-spacing: -0.5px;}
.btn_box{
    padding:7px 17px;border:1px solid #b1b1b1;border-radius:100px;display:inline-block;
    &.ico_link{
        .btn_box_intext{
            padding-right:15px;position:relative;
            &:after{display:block;content:'';width:8px;height:8px;border-top:1px solid #8a8a8a;border-right:1px solid #8a8a8a;transform: translateZ(0) rotate(45deg); position:absolute;top:3px;right:2px;}
        }
    }
}
.btn_box_intext{display:inline-block;font-size:14px;color:#000000;line-height:1;font-weight:500;}

.btn_textonly{
    display:inline-block;
    &.ico_link{
        .btn_textonly_intext{
            padding-right:15px;position:relative;
            &:after{display:block;content:'';width:8px;height:8px;border-top:1px solid #8a8a8a;border-right:1px solid #8a8a8a;transform: translateZ(0) rotate(45deg); position:absolute;top:3px;right:2px;}
        }
    }
}
.btn_textonly_intext{display:inline-block;font-size:14px;color:#000000;line-height:1;font-weight:500;}

.table_content_row{margin:0 24px 40px;
    &.type2{margin:30px 24px}
    &.type3{margin:18px 24px 26px;
        .box_title_row{padding:0;margin-bottom:15px;}
        .box_content_row{padding:0;}
    }
}
.data_table_zone{}
.data_thead_row{border-top:2px solid #323232;border-bottom:1px solid #323232;}
.data_thead_tb{
    width:100%;table-layout:fixed;
    tr{
        &:last-of-type{
            th{border-bottom:0;}
        }
    }
    th{
        border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;box-sizing:border-box;padding:14px 3px;
        &.ptype2{padding:8px 3px 2px;}
        &.ptype3{padding:7px 3px;}
        &.type2,
        &:last-of-type{border-right:0;}
        &.has_th_unit{
            vertical-align: bottom;padding: 5px 3px;
            .th_unit{}
        }
    }
}
.not_fixed{
    table-layout: auto;
    th > *,td > *{max-width:100%;display:inline-block;word-break: break-all;}
}
.th_text{font-size:16px;color:#000000;line-height:1;font-weight:700;display:inline-block;word-break: break-all;}
.th_unit{font-size:12px;color:#999999;line-height:1;display:inline-block;
    &.emp{color:#6d6c6c;}
}
.th_value_group{
    > *{
        &:last-child{}
    }
    .th_text{
        &:last-of-type{}
    }
}
.th_value_else_group{
    text-align: right;line-height:0;margin-top:3px;
}
.th_value_else{font-size:11px;color:#999999;line-height:1;display:inline-block;}


.data_tbody_row{
    position:relative;overflow:hidden;overflow-y:overlay;border-bottom:1px solid #d9d9d9;
    // &::after{display:block;content:'';width:100%;height:1px;background:#d9d9d9;position:absolute;bottom:0;left:0;}
}
.data_tbody_tb{
    width:100%;table-layout:fixed;
    tr{
        position:relative;
        &:last-of-type{
            td{border-bottom:0;
            }
        }
        &:first-of-type{
            td{
                &[rowspan]{border-top:0;border-bottom:0;}
            }
            &:hover td{background-color:#fff;}
        }
        &.nodata_tr{
            display:flex;height:100%;justify-content: center;align-items: center;min-height:584px;
        }
        &.hover td{background-color:#f5fcff;}
        &:hover td{background-color:#f5fcff;}
    }
    td{
        border-right:1px solid #e7e7e7;border-bottom:1px solid #e7e7e7;box-sizing:border-box;padding:13px 3px;position:relative;z-index:2;
        &:last-of-type{border-right:0;
            .get_value_group{
                &.ico_new{
                    &:after{right:13px;}
                }
            }
        }
        &[rowspan]{border-bottom:0;border-top:1px solid #e7e7e7;
        }
        &.type2{
            border-right:0;
            .th_text{}
        }
        &.nodata_td{}
        &.has_td_unit{
            .get_rank_g{}
        }
        &.has_td_grape{
            .bar_grape_zone{}
        }
    }
}
.data_table_wrap{
    tr:last-of-type{
        td{border-bottom:0;}
    }
}
.data_table{
    width:100%; border-top:2px solid #323232;
    thead{
        th{
            border-bottom:1px solid #323232;border-right:1px solid #e7e7e7;box-sizing:border-box;padding:13px 3px;
            &.type2{
                border-right:0;
                .th_text{}
            }
            &.ptype2{
                border-bottom-color:#e7e7e7;padding: 7px 3px; 
                .th_text{}
            }
            &.ptype3{
                padding: 7px 3px;
                // &:last-of-type{border-right:0 !important;}
                .th_text{}
            }
            &.has_th_unit{
                vertical-align: bottom;padding: 5px 3px;
                padding-right:100px;
                .th_unit{}
            }
            &[rowspan]{ border-left:1px solid #e7e7e7;
                &:first-of-type{border-left:0 !important;}
            }
            .th_text{font-size:16px;color:#000000;font-weight:700;line-height:1;}
            &:last-of-type{border-right:0;}
        }
        &.ptype2{
            th{padding:8px 3px}
        }
    }
    tbody {
        td{
            border-bottom:1px solid #d9d9d9;border-right:1px solid #d9d9d9;padding:25px 10px;
            &.type2{
                border-right:0;padding:10px;
                .td_text{}
            }
            &.has_td_unit{
                padding-right:100px;
                .td_unit{}
            }
            &.align_type2{text-align: left;
                .td_data_text2{margin:0 10px;}
            }
            &:last-of-type{border-right:0;}
        }
        &.type2{
            td{padding:12px 10px;}
        }
    }
}
.data_table_scroll_wrap{
    position:relative;overflow:overlay;border-bottom:1px solid #d9d9d9;
    .data_table{border-top:0;}
}
.th_text_sub{display:inline-block;font-size:15px;color:#000;}
.th_unit2{font-size:14px;color:#000000;display:inline-block;font-weight:500;line-height:1;}
.td_data_text{display:inline-block;font-size:16px;font-weight:700;color:#333333;line-height:1;}
.td_data_text2{display:inline-block;font-size:15px;color:#4e4e4e;line-height:1.3;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.value_inline_group{
    display:inline-flex;align-items:center;font-size:17px;line-height:1;
    &.type2{
        .value_inline_cols{
            &:last-of-type{}
        }
        .value_inline_current{font-size:17px;color:#333;}
        .value_inline_else{margin-left:14px;}
        .value_inline_part{transform: scale(.8);}
        .value_inline_part,
        .value_inline_length{font-size:14px;position:relative;top:2px;}
    }
}
.value_inline_cols{
    display:inline-flex;align-items:center;
    &:last-of-type{}
}
.value_inline_current,
.value_inline_part,
.value_inline_length,
.value_inline_else{line-height:1;display:inline-block;color:#333333;}
.value_inline_current{font-size:22px;color:#000000;font-weight:700;}
.value_inline_part{font-size:17px;font-weight:700;}
.value_inline_length{font-size:17px;font-weight:700;}
.value_inline_else{font-size:13px;margin-left:5px;}

.bar_grape_zone{height:18px;position:relative;margin:0 20px;}
.bar_grape_bg{position:absolute;top:0;left:0;background:#ebf2f9;height:100%;}
.bar_grape_current{position:absolute;top:50%;left:0;background:#459aea;height:6px;transform: translateY(-50%);z-index:2;}

.nodata_para{font-size:16px;color:#999;}
.td_text{display:inline-block;font-size:13px;color:#333333;line-height:1;word-break: break-all;position:relative;z-index:1;}
.td_main_item{text-align: left;display:flex;font-size:0;line-height:0;padding:0 5px;}
.td_main_label_cols{flex:1;min-width:0;}
.td_main_label{display:inline-flex; align-items: center;
    &:before{display:block;content:'';width:15px;height:15px;background:url("../images/icon_data.png") no-repeat 0 0;flex:0 0 15px;margin-right:5px;}
}
.td_main_label_text{font-size:14px;color:#333333;line-height:1.3;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.td_main_tail_cols{display:flex;align-items: center;font-size:0;line-height:0;margin-left:10px;
    > *{
        margin-right:8px;
        &:last-child{margin-right:0;}
    }
}
.td_tail_label_group{
    display:flex;align-items: center;font-size:11px;color:#6d6c6c;
}
.td_tail_date{display:inline-block;line-height:1;}
.td_tail_mark_cell{margin-left:3px;width:6px;height:11px;display:flex;align-items: center;font-size:0;line-height:0;}
.td_tail_mark{display:inline-block;}
.td_tail_mark:after{display:block;content:'!';color:#c00000;font-size:13px;line-height:1;font-weight:700;position:relative;top:-3px;}

.td_ingrape_group{width:60px;height:6px;border-radius:100px;position:relative;overflow:hidden;background:#e1e1e1;top:1px;margin-right:3px !important;}
.current_bar{position:absolute;top:0;left:0;height:100%;background:#5cd3ff;border-radius:100px;}
.td_invalue_group{display:flex;align-items: center;font-size:0;line-height:0;}
.invalue_data,
.invalue_unit{display:inline-block;color:#4e4e4e;line-height:1;}
.invalue_data{font-size:14px;min-width:24px;text-align: right;}
.invalue_unit{font-size:12px;}

.get_value_group_wrap{
    display:inline-flex;align-items: center;justify-content: center;margin-left:-10px;
    .get_value_group{margin-right:10px;padding:0;margin-left:0;
        &:last-of-type{margin-right:0;}
        &:after{display:none !important;}
    }
    &.ico_new{
        &:after{display:inline-block;content:'new';position:absolute;top:0;right:5px;color:#c00000;white-space: nowrap;font-size:12px;line-height:1;}
    }
}
.get_value_group{
    display:inline-flex;justify-content:center;box-sizing:border-box;margin-left:-10px;
    &.type2{
        .get_value_cols{margin-right:7px;}
    }
    &.ico_new{
        &:after{display:inline-block;content:'new';position:absolute;top:0;right:5px;color:#c00000;white-space: nowrap;font-size:12px;line-height:1;}
    }
}
.get_value_cols{
    margin-right:4px;display:flex;align-items:center;
    &:last-of-type{margin-right:0 !important;}
}
.get_value{display:inline-block;font-size:15px;color:#4e4e4e;line-height:1;
    &.mintype2{min-width:46px;text-align: right;}
    &.mintype3{min-width:25px;text-align: right;}
}
.get_rank_g{display:inline-flex;align-items: center;position:relative;
    &.has_color{
        .up + .get_rank_value{color:#eb6242}
        .down + .get_rank_value{color:#2382d2;}
    }
    > *{
        margin-right:5px;
        &:last-child{margin-right:0 !important;}
    }
}
.get_rank_value{font-size:13px;display:inline-block;line-height:1;min-width:15px;text-align: right;
    &.type2{text-align: left;}
}
.get_rank_ico{
    display:inline-block;width:9px;height:8px;background:url("../images/icon_updown.png") no-repeat 0 0;margin-right:3px !important;top:0;position:relative;
    &.down{}
    &.up{background-position:0 100%;top:0.5px;}
}

.data_list_table_wrap{}
.data_list_body_scroll{position:Relative;overflow:hidden;overflow-y:overlay;border-bottom:1px solid #d9d9d9;
    .data_list_table{
        tr:last-of-type{
            td{border-bottom:0;}
        }
    }
}
.data_list_table{
    width:100%;table-layout:fixed;
    &.head{
        border-top:2px solid #323232;
    }
    thead{
        th{
            padding:18px 5px;background:#fbfbfb;border-right:1px solid #e7e7e7;border-bottom:1px solid #323232;
            &:last-of-type{border-right:0;}
        }
    }
    tbody {
        td{
            padding:18px;color:#d9d9d9;border-right:1px solid #e7e7e7;border-bottom:1px solid #d9d9d9;
            &:last-of-type{border-right:0;}
            &.align_type2{text-align: left;}
            &.nodata_td{padding:100px 18px;}
        }
    }
}
.data_thtext,
.data_tdtext{display:inline-block;max-width:100%;line-height:1.3;}
.data_thtext{font-size:17px;color:#000;}
.data_tdtext{font-size:15px;color:#333;
    &.emp{font-size:16px;color:#000;font-weight:500;}
}

.design_table_wrap{}
.design_thead_table{
    width:100%; border-collapse:separate; table-layout: fixed; box-sizing: border-box;border:1px solid #d4e9f2;border-top:2px solid #59b3ef;border-radius:5px;overflow:hidden;
    thead{
        tr{}
        th{
            background:#f7fdff;text-align: center;padding:16px 5px 14px; box-sizing: border-box;
            &:last-of-type{}
        }
    }
    
}
.design_tbody_table_scroll_wrap{position:relative;overflow:hidden;overflow-y:overlay;}
.design_tbody_table{
    width:100%; border-collapse:separate; table-layout: fixed;
    tbody{
        td{
            text-align: center;padding:18px 5px; border-bottom: 1px solid #ebebeb; box-sizing: border-box;
            &.type2{font-size:0;line-height:0;padding:5px;}
        }
    }
}
.design_thtext,
.design_tdtext{display:inline-block;font-size:16px;color:#333333;line-height:1;}
.design_thtext{}
.design_tdtext{font-weight:500;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all;}
.bar_grape_group{}
.bar_glabel_wrap{display:flex;align-items: center;justify-content: space-between;margin:0 5px 8px;}
.bar_glabel{display:inline-block;font-size:13px;color:#333333;line-height:1;font-weight:500;}
.bar_gchart_wrap{height:8px;position:relative;overflow:hidden;background:#e6ecef;border-radius:100px;}
.bar_gchart_current{position:absolute;top:0;left:0;height:100%;background:#459aea;border-radius:100px;}
.number_text_group{display:inline-flex;color:#333333;align-items: center;}
.number_text_main,
.number_text_unit{display:inline-block;color:#333;line-height:1;}
.number_text_main{font-size:16px;font-weight:700;}
.number_text_unit{font-size:14px;font-weight:500;}



.card_vitem{
    margin-bottom:10px;padding:17px 24px;flex:1;display:flex;align-items:center;
    &.box_render{}
    &:last-of-type{margin-bottom:0;}
}
.chart_summary_both{width:100%;display:flex;
    &.type2{
        .chart_summary_title_cols{flex:1;min-width:0;}
        .chart_summary_content_cols{flex:0 0 279px;}
    }
}
.chart_summary_title_cols{flex:0 0 225px;box-sizing: border-box;padding-right:25px;}
.chart_summary_title{font-size:24px;color:#000000;line-height:1;font-weight:700;letter-spacing: -0.5px;}

.chart_summary_title_group{
    display:flex;align-items:flex-end;
    .chart_summary_title{}
    .chart_summary_title_sub{margin-left:8px;font-size:13px;line-height:1;color:#333333;}
}

.summary_main_item{
    display:inline-flex;margin-top:15px;
    &.type2{
        .summary_main_ico{background-position:0 33.33%;}
        .summary_value_main{color:#3b65ff;}
    }
    &.type3{
        .summary_main_ico{background-position:0 66.66%;}
        .summary_value_main{color:#2382d2;}
    }
    &.type4{
        .summary_main_ico{background-position:0 100%;}
        .summary_value_main{color:#4b72ff;}
    }
    .get_price_copy{}
}
.summary_main_ico{width:56px;height:56px;border:1px solid #e6e6e6;border-radius:100%;flex:0 0 56px;border-radius:100%;background:url("../images/icon_sub_circle.png") no-repeat 0 0;}
.summary_main_tail_group{margin:2px 0 0 18px;}
.summary_tail_label{font-size:13px;color:#333333;line-height:1;}
.summary_value_group{
    font-size:0;line-height:0;margin-top:7px;
    .get_rank_value{font-size:16px;color:#000000;line-height:1;min-width:0;}
    .get_rank_g{
        margin-left:6px;
        > *{margin-right:3px;
            &:last-child{margin-right:0;}
        }
    }
    .get_rank_ico{background:url("../images/icon_updown2.png") no-repeat 0 0;width:11px;height:10px;
        &.down{background-position:0 0;}
        &.up{background-position:0 100%;top:2px;position:relative;}
    }
}
.summary_value_main{font-size:30px;line-height:1;font-family: 'Open Sans Bold';letter-spacing: -2px;display:inline-block;color:#2382d2;}
.get_rank_g{}
.get_rank_value{}
.get_rank_ico{
    &.down{}
}
.chart_summary_content_cols{
    flex:1;min-width:0;
    &.align_type2{
        display:flex;align-items: flex-end;
    }
    .chart_render{}
}
.get_count_group{display:flex;justify-content: flex-end;margin-bottom:15px;
    &.type2{justify-content: flex-start;margin:20px 0 0 0;}
}
.get_count_item{
    display:inline-flex;align-items:center;margin-right:15px;
    &:last-of-type{margin-right:0;}
}
.get_count_label,
.get_count_value{display:inline-block;color:#333333;line-height:1;}
.get_count_label{font-size:14px;}
.get_count_value{font-size:20px;font-weight:700;margin-left:7px;}

.chart_summary_sub_group{margin-top:15px;}
.summary_sub_item{
    margin-bottom:10px;
    &:last-of-type{margin-bottom:0;}
    .get_price_copy{}
}
.get_price_item_group{display:flex;align-items: center;}
.get_price_main{
    display:inline-block;line-height:1;font-family: 'Open Sans Bold';
    &.define_plus{font-size:27px;color:#2382d2;}
    &.define_minus{font-size:20px;color:#eb6242;}
}
.get_price_unit{display:inline-block;font-size:12px;color:#333333;margin-left:3px;}
.get_price_copy{font-size:11px;color:#999999;margin-top:2px;}

.summary_main_value{display:block;line-height:1;font-family: 'Open Sans Bold';font-size:30px;color:#3b65ff;}
.summary_main_value_guide{display:block;font-size:13px;color:#999999;}
.summary_sub_value{display:block;line-height:1;font-family: 'Open Sans Bold';color:#6d6c6c;font-size:20px;}

.count_summary_wrap{display:flex;align-items:center;font-size:0;line-height:0;margin-top:13px;padding-bottom:20px;}
.count_summary_current{position:relative;}
.count_summary_current .count_intext{font-size:20px;color:#4e4e4e;font-family: 'Open Sans Bold';}
.count_intext{display:inline-block;line-height:1;}
.count_inlabel{position:absolute;top:calc(100% + 10px);left:0;display:inline-block;line-height:1;font-size:11px;color:#999999;}
.count_summary_part{padding:0 2px;}
.count_summary_part,
.count_summary_length{font-size:16px;color:#4e4e4e;line-height:1;font-family: 'Open Sans SemiBold';}
.count_summary_length{position:relative;}
.count_summary_length .count_intext{}
.count_summary_length .count_inlabel{top:calc(100% + 12px);}

.get_summary_tb_wrap{
    min-height:123px;
    tr.nodata_tr{
        td{height:123px;box-sizing: border-box;}
    }
    &.type2{
        min-height:160px;
        tr.nodata_tr{
            td{height:160px;box-sizing: border-box;}
        }
    }
}
.get_summary_tb{border-bottom:1px solid #e3e3e3;width:100%;line-height:1.3;}
.get_summary_tb td{border-top:1px solid #e3e3e3;width:1px;padding:10px 5px;}
.get_summary_tb td .ico_text{white-space: nowrap;}
.get_summary_tb td.type2{width:auto;text-align: left;padding-right:0;}
.get_summary_tb td:last-of-type{}
.get_summary_tb tr:last-of-type{}
.get_summary_tb tr:last-of-type td:last-of-type{}
.ico_text{display:flex;align-items: center;color:#4e4e4e;font-size:13px;}
.ico_text:before{display:block;content:'';margin-right:5px;flex:0 0 15px;width:15px;height:18px;background:url("../images/icon_month.png") no-repeat 50% 50%;}
.ico_text.ico_calendar:before{}
.summary_td_text{display:inline-block;font-size:14px;color:#4e4e4e;white-space: nowrap;}
.td_link_group{display:flex;align-items:center;}
.summary_td_link{flex:1;margin-right:7px;min-width:0;font-size:14px;color:#4e4e4e;line-height:1.3;overflow: hidden; text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;word-break: break-all}
.emp_message_box{flex:0;display:inline-block;white-space: nowrap;color:#c00000;font-size:12px;line-height:1;}
.emp_message_box.type2{color:#eb6242;font-size:13px;}

/* sort */
.box_sort_row{display:flex;margin-bottom:20px;}
.box_sort_item{
    flex:1;display:flex;align-items:center;
    &:last-of-type{}
}
.box_sort_label{white-space:nowrap;margin-right:10px;flex:0;font-size:18px;color:#1b1b1b;line-height:1;display:inline-block;font-weight:500;}
.box_sort_form_group{flex:1;min-width:0;margin:0 -6.5px;display:flex;align-items: center;}
.inline_form{
    flex:0 0 50%;padding:0 6.5px;min-width:0;box-sizing:border-box;
    .form_select{}
    &:last-of-type{}
}


/* popup */
.fullpop_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10;background:rgba(0,0,0,0);transition:.5s;max-height:1080px;max-width:1920px;}
.pop_dim{display:block;width:100%;height:100%;position:fixed;top:0;left:0;z-index:10;}
.dimlayer_z{display:none;position:fixed;top:0;left:0;overflow:hidden;overflow-y:auto;width:100%;height:100%;max-height:1080px;max-width:1920px;z-index:1000;align-items: center;justify-content: center;min-width:1900px;box-sizing:border-box;padding:0 30px;}
.dimlayer_z.fulltype{overflow:hidden;}
.dimlayer_z.active{display:flex; flex-wrap:wrap;}
.dimlayer_z.active.motion .fullpop_item{opacity:1;transform: translateY(0);}
.dimlayer_z.active.motion .fullpop_dim{background:rgba(0,0,0,0.65);}
.fullpop_item_wrap{}
.fullpop_item{
    box-sizing: border-box;z-index:20; width:744px;margin:30px auto; max-height:calc(100% - 60px); background:#eff5f8; position:relative; display:flex; flex-direction: column; 
    border-radius:25px 25px; opacity:0; transform: translateY(-30%); min-width:0; transition:.5s;
    &.dtype2{
        .fullpop_titlow{
            background:#fff;border-bottom:1px solid #cfcfcf;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;
            padding:7px 70px;min-height:60px;
        }
        .btn_layerclose{
            top:17px;right:26px;
            &:before,
            &:after{width:20px;background:#646464; margin:-.5px 0 0 -10px;}
        }
    }
}
.fullpop_item.wtype2{width:495px;}
.fullpop_item.wtype3{width:1700px;}
.fullpop_item.wtype4{width:844px;}
.fullpop_item.widfull{max-width:100%;margin:30px;}
.fullpop_titlow{padding:14px 70px 13px;text-align:center;border-radius:0 18px 0 18px;flex:0;position:relative;z-index:2;
    display:flex;align-items:center;justify-content: center;box-sizing: border-box;min-height:68px;
    background: rgb(47,130,226);
    background: linear-gradient(120deg, rgba(47,130,226,1) 0%, rgba(34,119,221,1) 34%, rgba(55,154,230,1) 55%, rgba(55,154,230,1) 80%, rgba(55,154,230,1) 100%);
    box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);
}
.laypop_ico_title{display:inline-flex;align-items: center;justify-content: center;
    &:before{display:block;content:'';width:25px;height:25px;background:url("../images/ico_popup.png") no-repeat 0 0;flex:0 0 25px;}
    &.ico_01{}
    &.ico_02:before{background-position:0 33.33%;}
    &.ico_03:before{background-position:0 66.66%;}
    &.ico_04:before{background-position:0 100%;}
}
.laypop_intext{color:#000000;font-size:18px;display:inline-block;margin-left:3px;}


.fullpop_fixed_cont{
    flex:0;padding:15px 25px;border-bottom:2px solid #8d654e;
}
.fullpop_title{font-size:22px;color:#fff;line-height:1;letter-spacing:0;font-weight: 500;}
.fullpop_contlow{border-top:0;border-radius:0 0 0 18px;min-height:0;background:#F1F3F5;position:relative;overflow:hidden;overflow-y:auto;flex:1;}
.fullpop_contlow_in{padding:30px;position:relative;}
.btn_fullcont_w{text-align:center;padding-top:10px;border-top:1px solid #ececec;margin-top:20px;}
.fullpop_btnlow{border-top:1px solid #e4e4e4;text-align: center;padding:28px;flex:0;}
.fullpop_btnlow .btn_submitbox{}
.btn_submitbox{display:inline-block;border-radius:100px;font-size:19px;line-height:1;color:#fff;background:#34b371;min-width:326px;text-align:center;padding:17px;}

.btn_layerclose{display:block;width:26px;height:26px;position:absolute;top:22px;right:30px;font-size:0;line-height:0;z-index:5;

    &:before,
    &:after{width:32px;height:1px;display:block;content:'';position:absolute;top:50%;left:50%;background:#fff; margin:-.5px 0 0 -16px;
        transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
    }
    &:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
    &:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
}

.btn_fullsubmit_w{flex:0;text-align: center;padding:20px;border-top:1px solid #d9dee4;font-size:0;line-height:0;}
.btn_fullsubmit_w > *{margin:0 3px;}
.btn_quadobj{display:inline-block;font-size:14px;border-radius:5px;padding:12px 20px;background:#f8f8f8;color:#000;border:1px solid #ddd;line-height:1;}


.front_window_body{background:#eff5f8;}

.winpop_tit_row{padding:14px 70px 13px;text-align:center;border-radius:0 18px 0 18px;flex:0;position:relative;z-index:2;
    display:flex;align-items:center;justify-content: center;box-sizing: border-box;min-height:68px;
    background: rgb(47,130,226);
    background: linear-gradient(120deg, rgba(47,130,226,1) 0%, rgba(34,119,221,1) 34%, rgba(55,154,230,1) 55%, rgba(55,154,230,1) 80%, rgba(55,154,230,1) 100%);
    box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 5px 15px -3px rgba(0,0,0,0.2);

    &.dtype2{
        background:#fff;border-radius:0;border-bottom:1px solid #cfcfcf;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;
        padding:7px 70px;min-height:60px;
        .btn_window_layerclose{
            top:17px;right:26px;
            &:before,
            &:after{width:20px;background:#646464; margin:-.5px 0 0 -10px;}
        }
    }
}
.winpop_title{font-size:22px;color:#fff;line-height:1;letter-spacing:0;font-weight: 500;}
.winpop_ico_title{display:inline-flex;align-items: center;justify-content: center;
    &:before{display:block;content:'';width:25px;height:25px;background:url("../images/ico_popup.png") no-repeat 0 0;flex:0 0 25px;}
    &.ico_01{}
    &.ico_02:before{background-position:0 33.33%;}
    &.ico_03:before{background-position:0 66.66%;}
    &.ico_04:before{background-position:0 100%;}
}
.winpop_intext{color:#000000;font-size:18px;display:inline-block;margin-left:3px;}

.btn_window_layerclose{display:block;width:26px;height:26px;position:absolute;top:22px;right:30px;font-size:0;line-height:0;z-index:5;}
.btn_window_layerclose:before,
.btn_window_layerclose:after{width:32px;height:1px;display:block;content:'';position:absolute;top:50%;left:50%;background:#fff; margin:-.5px 0 0 -16px;
    transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
}
.btn_window_layerclose:before{transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.btn_window_layerclose:after{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.winpop_cont_row{padding:30px;}

.data_topitem_group{display:flex;align-items: flex-end;margin:0 0 25px;justify-content: space-between;}
.data_topitem_cols{
    .form_select{min-width:160px;height:40px;line-height:38px;}
    &:last-of-type{}
    
}
.boxtab_list_wrap{}
.boxtab_list{
    display:flex;align-items:center;
    > li{
        margin-right:4px;
        &:last-of-type{margin-right:0;}
        &.active{
            .boxtab{background:#2382d2;border-color:#2382d2;}
            .boxtab_intext{color:#fff;position:relative;padding-right:26px;}
            .boxtab_intext:after{display:block;content:'';width:14px;height:9px;background:url("../images/ico_check.png") no-repeat 0 0;position:absolute;top:4px;right:0;}
        }
    }
}
.boxtab{border:1px solid #455267;border-radius:100px;min-width:180px;padding:10px 10px 12px;display:flex;align-items:center;justify-content:center;box-sizing: border-box;min-height:40px;}
.boxtab_intext{display:inline-block;font-size:16px;color:#4e4e4e;line-height:1;}
.boxtab_intext:after{}
.data_topguide{font-size:14px;color:#333;line-height:1;display:inline-block;}
.data_topitem_else_group{
    display:flex;align-items:flex-end;
    > *{
        margin-right:14px;
        &:last-child{margin-right:0;}
    }
    > .data_topguide{white-space: nowrap;padding-bottom:3px;}
}

input.props_form{cursor:pointer;appearance: none;-webkit-appearance: none;vertical-align:middle;-moz-appearance: none;overflow:hidden;width:21px;height:21px;vertical-align: top;border-radius:100%;border:1px solid #ccc;box-sizing: content-box;background:url("../images/ico_formcheck.png") no-repeat 0 0;}
input.props_form:checked{background-color:#176bdd;background-position:0 100%;border-color:#176bdd;}

.btn_submit_group{
    display:flex;align-items: center;justify-content: center;margin:27px 25px 0;
    .btn_submit{margin:0 2.5px}
}
.btn_submit{
    display:inline-block;font-size:16px;color:#2382d2;font-weight:500;border:1px solid #2382d2;border-radius:8px;box-sizing:border-box;min-width:160px;padding:15px 15px 16px;text-align:center;line-height:1;
    &.primary{color:#fff;background:#2382d2;}
}

.flex_data_both{display:flex;}
.flex_data_cols{
    &.define_data{flex:0 0 51%;}
    &.define_chart{flex:1;min-width:0;margin-left:40px;border:1px solid #dedede;border-radius:8px;}
}